@charset "utf-8";
html {
  scroll-behavior: smooth;
}

main {
	background-color: rgba(247,159,243,0.22);
}
.ui-body p {
	background-image: url(200w.gif);
	background-size: contain;
	background-color: rgba(249,161,243,0.38);
}
